@import "variables";
@import "main";
@import "breadcrumb-menu";
@import "subscribe";
@import "form";
#contact-us {
  .flex-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    @media screen and (min-width: $tablet-width) {
      flex-basis: 48%;
    }
    @media screen and (min-width: $desktop-xl-width) {
      flex-basis: 49%;
      max-width: 830px;
    }
  }
  .contacts-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    @media screen and (min-width: $tablet-width) {
      flex-basis: 48%;
    }
    @media screen and (min-width: $desktop-xl-width) {
      flex-basis: 49%;
      max-width: 830px;
    }
    a,
    span {
      display: block;
      line-height: 21px;
    }
    a:hover {
      color: $green;
    }
    img {
      max-width: 100%;
    }
    .map {
      max-width: 830px;
      height: 437px;
      margin-top: 10px;
      background-color: $breadcrumb-color;
      @media screen and (min-width: $tablet-width) {
        margin-top: 20px;
      }
      @media screen and (min-width: $desktop-width) {
        margin-top: 30px;
      }
      @media screen and (min-width: $desktop-large-width) {
        margin-top: 40px;
      }
    }
    .flex-row {
      align-items: flex-start;
      flex-wrap: wrap;
      
      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        padding: 5px 0;
        @media screen and (min-width: $tablet-width) {
          margin: 0;
        }
        @media screen and (min-width: $desktop-width) {
          margin: 5px 0;
        }
        @media screen and (min-width: $desktop-large-width) {
          margin: 0;
        }
        div {
          display: flex;
          align-items: flex-start;
          max-width: 220px;
          padding-left: 10px;
          margin-left: 10px;
          white-space: normal;
          word-break: break-word;
          flex-direction: column;
          border-left: 0.25px solid $primary-color;
        }
      }
      i {
        display: block;
        width: 24px;
        height: 24px;
        &.icon-map {
          background: url("../images/map-icon.svg") no-repeat center;
        }
        &.icon-phone {
          background: url("../images/phone-icon.svg") no-repeat center;
        }
        &.icon-email {
          background: url("../images/email-icon.svg") no-repeat center;
        }
      }
    }
  }
}



